<div class="card p-6">
    <div>
        <form [formGroup]="salesForm" (ngSubmit)="onSubmit()" class="space-y-8">
            <div class="flex justify-between items-center mb-6">
                <span class="block text-surface-900 font-bold text-xl mb-6">Return</span>
                <!-- Buttons -->
                <div class="flex gap-4">
                    <button pButton type="button" label="Add" class="p-button-secondary" (click)="addItem()"></button>
                    <button pButton type="button" label="Reset" class="p-button-secondary" (click)="reset()"></button>
                    <button pButton type="button" label="Hold" class="p-button-secondary" (click)="hold()"></button>
                    <button pButton type="button" label="Print" class="p-button-secondary" (click)="print()"></button>
                    <button pButton type="submit" label="Submit" class="p-button-warning"></button>
                </div>
            </div>

            <!-- 🏷 Product Info Section -->
            <div>
                <!-- ✅ Changed to a 2-column grid for half-width fields -->
                <div class="flex mb-3">
                    <input type="text" pInputText placeholder="Search..." class="w-full p-inputtext" formControlName="globalFilter" (input)="applyGlobalFilter()" />
                </div>
                <!-- Bill no -->
                <div class="grid grid-cols-2 gap-x-8 mb-2 w-full">
                    <div class="flex flex-col mb-1">
                        <label class="font-medium">Bill No</label>
                        <p-dropdown [options]="billNoOptions" optionLabel="label" optionValue="value" [filter]="true" filterPlaceholder="Search Bill No." formControlName="billNo" placeholder="Bill No."> </p-dropdown>
                        <small class="text-red-500 ms-3 mt-1" *ngIf="salesForm.get('billNo')?.touched">
                            <span *ngIf="salesForm.get('billNo')?.errors?.['required']">Bill No is required</span>
                        </small>
                    </div>
                    </div>
                    
                   <div class="grid grid-cols-2 gap-x-8 gap-y-4 w-full">
                    <!-- Customer Name -->
                    <div class="flex flex-col mb-1">
                        <label class="font-medium mb-1">Customer Name</label>
                        <input pInputText formControlName="customerName" placeholder="Customer Name" />
                    </div>

                    <!-- Mobile No. -->
                    <div class="flex flex-col">
                        <label class="font-medium mb-1">Mobile No.</label>
                        <input pInputText type="number" formControlName="mobile" placeholder="Mobile No." />
                        <small class="text-red-500 ms-3 mt-1" *ngIf="salesForm.get('mobile')?.errors?.['pattern']">
                            <span *ngIf="salesForm.get('mobile')?.errors?.['pattern']">Please enter a valid 10-digit mobile number</span>
                        </small>
                    </div>
                </div>
                <div class="mt-6">
                    <p-table
                        [value]="filteredProducts"
                        [globalFilterFields]="[ 'name']"
                        [filters]="{ global: { value: globalFilter, matchMode: 'contains' } }"
                        dataKey="code"
                        selectionMode="multiple"
                        [(selection)]="selectedProducts"
                        (onRowSelect)="updateSelectedTotal()"
                        (onRowUnselect)="updateSelectedTotal()"
                        [paginator]="true"
                        [rows]="10"
                        [rowsPerPageOptions]="[5, 10, 20, 50]"
                        [responsiveLayout]="'scroll'"
                        class="p-datatable-gridlines mt-6"
                    >
                        <ng-template #header>
                            <tr class="bg-yellow-400">
                                <!-- <th class="text-center"><p-checkbox formControlName="update.selection" binary="true"></p-checkbox></th> -->
                                <th style="width: 4rem"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                                <th>Item Code</th>
                                <th>Item Name</th>
                                <th>Current Stock</th>
                                <th>UOM</th>
                                <th>Qty</th>
                                <th>MRP</th>
                                <th>Total</th>
                                <!-- <th>Discount</th> -->
                                <th>Warranty (in Mon)</th>
                                <th>Location</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-update>
                            <tr>
                                <!-- <td class="text-center"><p-checkbox [(ngModel)]="update.selection"  binary="true"></p-checkbox></td> -->
                                <td><p-tableCheckbox [value]="update" ></p-tableCheckbox></td>
                                <td>{{ update.code }}</td>
                                <td>{{ update.name }}</td>
                                <td>{{ update.curStock }}</td>
                                 <td>{{ update.uom }}</td>
                                <td><input type="number" pInputText [(ngModel)]="update.quantity" [ngModelOptions]="{standalone:true}" placeholder="Quantity" (ngModelChange)="updateTotal(update)" [readOnly]="!selectedProducts.includes(update)" /></td>
                                <td>{{ update.mrp }}</td>
                                <td>{{ update.total }}</td>
                                <!-- <td>{{ update.discount }}</td> -->
                                <td>{{ update.warPeriod }}</td>
                                <td>{{ update.location }}</td>
                                <td class="text-center">
                                    <i class="pi pi-trash ms-2 cursor-pointer text-red-500" (click)="deleteItem(update)"></i>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="paginatorleft">
                            <div class="text-gray-600 ms-2">Total Items:{{ filteredProducts?.length || 0 }}</div>
                        </ng-template>
                    </p-table>
                </div>
                 <div class="grid grid-cols-2 gap-x-8 gap-y-4">

                              <!--MRP Total -->
                            <div class="flex flex-col">
                                <label class="font-medium mb-1">MRP Total</label>
                                <input pInputText formControlName="mrpTotal" placeholder="Grand Total" readonly />
                            </div>

 <!-- Total Cost -->
                            <div class="flex flex-col">
                                <label class="font-medium mb-1">Total Cost</label>
                                <input pInputText formControlName="totalCost" placeholder="Total Cost" readonly />
                            </div>

                              <!-- Discount -->
                            <div class="flex flex-col">
                                <label class="font-medium mb-1">Discount %</label>
                                <input pInputText formControlName="discountLabel" placeholder="Discount" (keypress)="allowOnlyNumbers($event)" readonly/>
                            </div>
                              <!-- Round Off -->
                            <div class="flex flex-col">
                                <label class="font-medium mb-1">Round Off</label>
                                <input pInputText formControlName="roundOff" placeholder="Round Off" readonly/>
                            </div>

                              <!-- Final Payable -->
                            <div class="flex flex-col">
                                <label class="font-medium mb-1">Final Payable</label>
                                <input pInputText formControlName="finalPayable" placeholder="Grand Total" readonly/>
                            </div>
                        </div>
            </div>
        </form>
    </div>
    <p-dialog
    header="{{ mode === 'add' ? 'Add Item' : 'Edit Item' }}"
    [(visible)]="visibleDialog"
    [modal]="true"
    [style]="{ width: '80vw' }"
  >
    <app-addinventory
      [editData]="selectedRow"
      [mode]="mode"
      (close)="closeDialog()"
      (save)="onSave($event)"
      (childUom)="onChildUom($event)"
     >
    </app-addinventory>
  </p-dialog>
  <p-confirmDialog></p-confirmDialog>
</div>

