:host{
    display: block;
}

::ng-deep .item-report{

.p-datatable-wrapper{
    max-height: 500px;
    overflow: auto;
    border-radius: 6px;
    border: 1px solid var(--surface-border);
    border-radius: 6px;   
}
 .p-datatable-tbody > tr > td,
  .p-datatable-thead > tr > th {
    position: static !important;
    left: auto !important;
    right: auto !important;
    box-shadow: none !important;
  }
 .p-datatable-thead > tr > th:nth-child(1),
  .p-datatable-tbody > tr > td:nth-child(1) {
    position:sticky !important;
    left:0 !important;
    z-index:11 !important;
    min-width: 150px;
    max-width: 150px;
  }
 .p-datatable-thead > tr > th:nth-child(2),
  .p-datatable-tbody > tr > td:nth-child(2) {
    position:sticky !important;
    left:150px !important;
    z-index:11 !important;
    min-width: 250px;
    max-width: 250px;
  }
  .p-datatable-thead > tr > th:nth-child(3),
  .p-datatable-tbody > tr > td:nth-child(3) {
    min-width: 180px;
    max-width: 180px;
  }
}