<div class="card p-6">

  <!-- ================================
       SALES FORM SECTION
  ================================= -->
  <form [formGroup]="replaceForm" (ngSubmit)="onSubmit()" class="space-y-8">

    <!-- ================================
         HEADER + ACTION BUTTONS
    ================================= -->
    <div class="flex justify-between items-center mb-6">
      <span class="block text-surface-900 font-bold text-xl mb-6">Replace </span>

      <div class="flex gap-4">

        <!-- RESET -->
        <button
          pButton
          type="button"
          label="Reset"
          class="p-button-secondary"
          (click)="onReset()">
        </button>

        <!-- NEW SALE -->
        <button
          pButton
          type="button"
          label="New Sale"
          class="p-button-secondary"
          (click)="newSale()">
        </button>

        <!-- SUBMIT -->
        <button
          pButton
          type="submit"
          label="Submit"
          class="p-button-warning"
          [disabled]="isSubmitDisabled() || submitDisabledByBill">
        </button>

      </div>
    </div>


    <!-- ================================
         ITEM SELECT SECTION
    ================================= -->
    <div class="grid grid-cols-2 gap-x-8 gap-y-4 w-full">

      <!-- ITEM DROPDOWN -->
      <div class="flex flex-col">
        <label>Item</label>

        <p-select
          #itemSel
          class="w-full mb-4"
          [options]="itemOptions"
          optionLabel="itemcombine"
          optionValue="itemid"
          formControlName="p_itemdata"
          [filter]="true"
          filterBy="itemcombine"
          placeholder="Select Item"
          [showClear]="true"
          (onChange)="OnItemChange($event)"
          [disabled]="submitDisabledByBill">

          <!-- Selected Template -->
          <ng-template #selectedItem let-item>
            <div class="flex items-center gap-2">
              <div>{{ item.itemcombine }}</div>
            </div>
          </ng-template>

          <!-- Dropdown Template -->
          <ng-template #item let-details>
            <div class="flex items-center justify-between w-full">
  <div>{{ details.itemcombine }}</div>

 <span
  class="text-sm"
  [ngClass]="details.currentstock == 0 
    ? 'text-red-500' 
    : 'text-green-600'"
>
  Stock: {{ details.currentstock }}
</span>
</div>
          </ng-template>

        </p-select>
      </div>
  <!-- GST CHECKBOX -->
      <div class="flex flex-col mt-8">
        <div class="flex items-center gap-2">
          <p-checkbox binary="true" variant="filled" formControlName="p_similar"></p-checkbox>
          <label>Similar Items</label>
        </div>
      </div>
    </div>


    <!-- ================================
         BILL DETAILS + CUSTOMER INFO
    ================================= -->
    <div class="grid grid-cols-2 gap-x-8 gap-y-4 w-full">

      <!-- BILL NO -->
      <div class="flex flex-col">
        <label class="font-medium mb-1">Replace Bill No</label>

        <p-dropdown
          [options]="replaceBillNoOptions"
          optionLabel="billno"
          optionValue="billno"
          placeholder=" Replace Bill No."
          formControlName="p_billno"
          [filter]="true"
          filterPlaceholder="Search Bill No."
          [showClear]="true"
          (onChange)="onReplaceBillDetails($event)">
        </p-dropdown>

        <small class="text-red-500 mt-1" *ngIf="replaceForm.get('p_billno')?.touched">
          <span *ngIf="replaceForm.get('p_billno')?.errors?.['required']">
             Bill No is required
          </span>
        </small>
      </div>

      <!-- TRANSACTION DATE -->
      <div class="flex flex-col">
        <label class="font-medium mb-1">Transaction Date</label>
        <p-datepicker
          fluid
          formControlName="p_transactiondate"
          dateFormat="dd-mm-yy"
          [showIcon]="true"
          placeholder="Transaction Date"
          [maxDate]="today">
        </p-datepicker>
      </div>


      <!-- CUSTOMER NAME -->
      <div class="flex flex-col">
        <label class="font-medium mb-1">Customer Name</label>
        <input
          pInputText
          placeholder="Customer Name"
          formControlName="p_customername" />
      </div>

      <!-- MOBILE -->
      <div class="flex flex-col">
        <label class="font-medium mb-1">Mobile No.</label>
        <input
          pInputText
          type="number"
          placeholder="Mobile No."
          maxlength="10"
          formControlName="p_mobileno" 
          (keypress)="allowOnlyNumbers($event)"/>

        <small class="text-red-500 mt-1" *ngIf="replaceForm.get('p_mobileno')?.errors?.['pattern'] ">
          Please enter a valid 10-digit mobile number
        </small>
      </div>

    

    </div>


    <!-- ================================
         SALES TABLE (FormArray)
    ================================= -->
    <div class="mt-6">

      <p-table
        [value]="saleArray.controls"
        dataKey="ItemId"
        [responsiveLayout]="'scroll'"
        [paginator]="true"
                        [rows]="10"
         [rowsPerPageOptions]="[5, 10, 20, 50]"
        class="p-datatable-gridlines mt-6">

        <!-- HEADER -->
        <ng-template pTemplate="header">
          <tr class="bg-yellow-400">
            <th>Item Code</th>
            <th>Item Name</th>
            <th>Current Stock</th>
            <th>UOM</th>
            <th>Qty</th>
            <th>MRP</th>
            <th>Total</th>
            <th>Warranty</th>
            <th>Location</th>
            <th class="text-center">Action</th>
          </tr>
        </ng-template>

        <!-- ROWS -->
        <ng-template pTemplate="body" let-row let-i="rowIndex">
          <tr [formGroup]="row">

            <td>{{ row.get('itemsku')?.value }}</td>
            <td>{{ row.get('ItemName')?.value }}</td>
            <td>{{ row.get('curStock')?.value }}</td>
            <td>{{ row.get('UOMId')?.value }}</td>

            <!-- QUANTITY INPUT -->
           <td>
              <input
                pInputText
                type="number"
                formControlName="Quantity"
                min="1"
                step="1"
                class="w-[70px]"
                (keypress)="blockDecimal($event)"
                (input)="updateTotal(i)"
                [ngClass]="{ 'border-red-500': row.get('Quantity')?.errors?.['maxStock'] }" />
            </td>

            <td>{{ row.get('MRP')?.value }}</td>
            <td>{{ row.get('totalPayable')?.value }}</td>
            <td>{{ row.get('warPeriod')?.value }}</td>
            <td>{{ row.get('location')?.value }}</td>

            <!-- DELETE -->
            <td class="text-center">
              <i
                class="pi pi-trash text-red-500 cursor-pointer"
                (click)="removeItem(i)">
              </i>
            </td>

          </tr>
        </ng-template>

        <!-- FOOTER TEXT -->
        <ng-template pTemplate="paginatorleft">
          <div class="text-gray-600 ms-2">
            Total Items: {{ saleArray.length }}
          </div>
        </ng-template>

      </p-table>
    </div>


    <!-- ================================
         SUMMARY SECTION
    ================================= -->
    <div class="grid grid-cols-6 gap-x-8 gap-y-4 m-3 mt-4">

      <!-- Total Cost -->
      <div class="flex flex-col">
        <label>Total Cost</label>
        <input pInputText readonly type="number" formControlName="p_totalcost" />
      </div>

      <!-- MRP Total -->
      <div class="flex flex-col">
        <label>MRP Total</label>
        <input pInputText readonly type="number" formControlName="p_totalsale" />
      </div>
 <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <!-- Discount type -->
        <div class="flex flex-col">
          <label>Disc(%)</label>
          <p-checkbox class="mt-2" binary="true" readonly variant="filled" formControlName="p_disctype"></p-checkbox>
        </div>
      <!-- Discount -->
      <div class="flex flex-col ">
        <label>Discount</label>
        <input class="w-40" pInputText type="number" readonly formControlName="p_overalldiscount" (input)="applyDiscount()" [placeholder]="discountplace" />
      </div>
</div>
      <!-- Round Off -->
      <div class="flex flex-col">
        <label>Round Off</label>
        <input pInputText readonly type="number" formControlName="p_roundoff" />
      </div>

      <!-- Total Sale -->
      <div class="flex flex-col">
        <label>Total Sale</label>
        <input pInputText readonly type="number" formControlName="p_totalsale" />
      </div>

      <!-- Final Payable -->
      <div class="flex flex-col">
        <label>Final Payable</label>
        <input pInputText readonly type="number" formControlName="p_totalpayable" />
      </div>

    </div>

  </form>

  <p-confirmDialog></p-confirmDialog>

</div>