<div class="card p-6">
    <div>
        <form [formGroup]="replaceForm" (ngSubmit)="onSubmit()" class="space-y-2">
            <div class="flex justify-between items-center mb-6">
                <span class="block text-surface-900 font-bold text-xl mb-6">Replace</span>
                <!-- Buttons -->
                <div class="flex gap-4">
                    <button pButton type="button" label="Reset" class="p-button-secondary" (click)="reset()"></button>
                    <button pButton type="button" label="New Sale" class="p-button-secondary" (click)="newSale()"></button>
                    <button pButton type="submit" label="Submit" class="p-button-warning"></button>
                </div>
            </div>
            <div>
            <!-- 🏷 Product Info Section -->
            <div class="flex flex-wrap items-center justify-between gap-2 w-full">
                <!-- ✅ Changed to a 2-column grid for half-width fields -->
                <div class="flex-1 min-w-[250px]">
                     <app-global-filter [(value)]="globalFilter" placeholder="Search Products..." (valueChange)="applyGlobalFilter()" class="p-inputtext-sm w-full"></app-global-filter>
                     </div>
                   <div class="flex items-center whitespace-nowrap mb-3">
                    <p-checkbox [(ngModel)]="checked" [binary]="true"></p-checkbox>
                    <label for="similarItems" class="ml-2" (onChange)="onSimilarItemsChange()" [style]="{'font-size':'1.1rem' }">Similar Items</label>
                   </div>  
                </div>
                <!--Replace Bill no -->
                <div class="grid grid-cols-2 gap-x-8 gap-y-4 mb-2 w-full">
                     <div class="flex flex-col mb-1">
                        <label class="font-medium">Replace Bill No</label>
                        <p-dropdown [options]="replaceBillNoOptions" optionLabel="label" optionValue="value" [filter]="true" filterPlaceholder="Search Replace Bill No." formControlName="replaceBillNo" placeholder="Replace Bill No."> </p-dropdown>
                        <small class="text-red-500 ms-3 mt-1" *ngIf="replaceForm.get('replaceBillNo')?.touched">
                            <span *ngIf="replaceForm.get('replaceBillNo')?.errors?.['required']">Replace Bill No is required</span>
                        </small>
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-x-8 gap-y-4 w-full">
                    <!-- Customer Name -->
                    <div class="flex flex-col">
                        <label class="font-medium mb-1">Customer Name</label>
                        <input pInputText formControlName="customerName" placeholder="Customer Name" />
                    </div>

                    <!-- Mobile No. -->
                    <div class="flex flex-col">
                        <label class="font-medium mb-1">Mobile No.</label>
                        <input pInputText type="number" formControlName="mobile" placeholder="Mobile No." />
                        <small class="text-red-500 ms-3 mt-1" *ngIf="replaceForm.get('mobile')?.errors?.['pattern']">
                            <span *ngIf="replaceForm.get('mobile')?.errors?.['pattern']">Please enter a valid 10-digit mobile number</span>
                        </small>
                    </div>
                </div>
                <div class="mt-6">
                    <p-table
                        [value]="filteredProducts"
                        [globalFilterFields]="['name']"
                        dataKey="code"
                        [paginator]="true"
                        [rows]="10"
                        [rowsPerPageOptions]="[5, 10, 20, 50]"
                        [responsiveLayout]="'scroll'"
                        class="p-datatable-gridlines mt-6"
                    >
                        <ng-template #header>
                            <tr class="bg-yellow-400">
                                <!-- <th class="text-center"><p-checkbox formControlName="update.selection" binary="true"></p-checkbox></th> -->
                                <th style="width: 4rem"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                                <th>Item Code</th>
                                <th>Item Name</th>
                                <th>Current Stock</th>
                                <th>UOM</th>
                                <th>Qty</th>
                                <th>MRP</th>
                                <th>Total</th>
                                <!-- <th>Discount</th> -->
                                <th>Warranty (in Mon)</th>
                                <th>Location</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-update>
                            <tr>
                                <!-- <td class="text-center"><p-checkbox [(ngModel)]="update.selection"  binary="true"></p-checkbox></td> -->
                                <td><p-tableCheckbox [value]="update" /></td>
                                <td>{{ update.code }}</td>
                                <td>{{ update.name }}</td>
                                <td>{{ update.curStock }}</td>
                                <td>{{ update.uom }}</td>
                                <td><input type="number" pInputText [(ngModel)]="update.quantity" [ngModelOptions]="{ standalone: true }" placeholder="Quantity" (ngModelChange)="updateTotal(update)" /></td>
                                <td>{{ update.mrp }}</td>
                                <td>{{ update.total }}</td>
                                <!-- <td>{{ update.discount }}</td> -->
                                <td>{{ update.warPeriod }}</td>
                                <td>{{ update.location }}</td>
                                <td class="text-center">
                                    <i class="pi pi-trash ms-2 cursor-pointer text-red-500" (click)="deleteItem(update)"></i>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="paginatorleft">
                            <div class="text-gray-600 ms-2">Total Items:{{ filteredProducts?.length || 0 }}</div>
                        </ng-template>
                    </p-table>
                </div>
                <div class="grid grid-cols-5 gap-x-8 gap-y-4">

                    <!-- Total Cost -->
                    <div class="flex flex-col">
                        <label class="font-medium mb-1">Total Cost</label>
                        <input pInputText formControlName="totalCost" placeholder="Total Cost" readonly />
                    </div>

                      <!--MRP Total -->
                    <div class="flex flex-col">
                        <label class="font-medium mb-1">MRP Total</label>
                        <input pInputText formControlName="mrpTotal" placeholder="Grand Total" readonly />
                    </div>

                    <!-- Discount -->
                    <div class="flex flex-col">
                        <label class="font-medium mb-1">Discount %</label>
                        <input pInputText formControlName="discountLabel" placeholder="Discount" (keypress)="allowOnlyNumbers($event)" />
                    </div>

                    <!-- Round Off -->
                    <div class="flex flex-col">
                        <label class="font-medium mb-1">Round Off</label>
                        <input pInputText formControlName="roundOff" placeholder="Round Off" readonly />
                    </div>

                    <!-- Final Payable -->
                    <div class="flex flex-col">
                        <label class="font-medium mb-1">Final Payable</label>
                        <input pInputText formControlName="finalPayable" placeholder="Grand Total" readonly />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <p-dialog header="{{ mode === 'add' ? 'Add Item' : 'Edit Item' }}" [(visible)]="visibleDialog" [modal]="true" [style]="{ width: '80vw' }">
        <app-addinventory [editData]="selectedRow" [mode]="mode" (close)="closeDialog()" (save)="onSave($event)" (childUom)="onChildUom($event)"> </app-addinventory>
    </p-dialog>
    <p-confirmDialog></p-confirmDialog>
</div>
