:host{
    display: block;
}

::ng-deep .invoice{

.p-datatable-wrapper{
    max-height: 500px;
    overflow: auto;
    border-radius: 6px;
    border: 1px solid var(--surface-border);
    border-radius: 6px;   
}
 .p-datatable-thead > tr > th:nth-child(3),
  .p-datatable-tbody > tr > td:nth-child(3) {
    min-width: 120px;
    max-width: 180px;
  }
 .p-datatable-thead > tr > th:nth-child(4),
  .p-datatable-tbody > tr > td:nth-child(4) {
    min-width: 250px;
    max-width: 250px;
  }
//   .p-datatable-thead > tr > th:nth-child(3),
//   .p-datatable-tbody > tr > td:nth-child(3) {
//     min-width: 90px;
//     max-width: 120px;
//   }
   .p-datatable-tbody > tr > td,
  .p-datatable-thead > tr > th {
    position: static !important;
    left: auto !important;
    right: auto !important;
    box-shadow: none !important;
  }
}