:host{
    display: block;
     overflow-anchor: none;
}

::ng-deep .credit{

 .p-datatable-thead > tr > th:nth-child(3),
  .p-datatable-tbody > tr > td:nth-child(3) {
    min-width: 120px;
    max-width: 180px;
  }
   .p-datatable-thead > tr > th:nth-child(4),
  .p-datatable-tbody > tr > td:nth-child(4) {
    min-width: 180px;
    max-width: 180px;
  }
}
