/* transaction-report.component.scss */
:host {
  display: block;
}

/* Custom table styling for transaction report only */
::ng-deep .transaction-report-table {
  .p-datatable-wrapper {
    max-height: 500px;
    overflow: auto;
    border: 1px solid var(--surface-border);
    border-radius: 6px;
  }
  .p-datatable-tbody > tr > td,
  .p-datatable-thead > tr > th {
    position: static !important;
    left: auto !important;
    right: auto !important;
    box-shadow: none !important;
  }
  @media (max-width: 640px) {

  /* paginator layout */
  ::ng-deep .p-paginator {
    display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  flex-wrap: nowrap !important;
  gap: 0px !important;
  white-space: nowrap;
  }
  .p-paginator-pages{
    display: flex !important;
  flex-wrap: nowrap !important;
  white-space: nowrap !important;
  flex-direction: row;
    max-width: 120px;
    overflow-x: auto;
  }
  /* hide total items OR move below */
  ::ng-deep .total-items {
    font-size: 12px;
    margin-top: 4px;
     flex-shrink: 0;
    margin-left: -15px !important;
  }
}
}

:host ::ng-deep {
 /* Sale Invoice column specific width */
  .fixed-saleinvoice-col {
    min-width: 140px !important;
    max-width: 140px !important;
    width: 140px !important;
  }

  /* Category column specific width */
  .fixed-category-col {
    min-width: 180px !important;
    max-width: 250px !important;
    width: 200px !important;
  }
  
  /* Item column specific width */
  .fixed-item-col {
    min-width: 250px !important;
    max-width: 350px !important;
    width: 300px !important;
  }

  
}

