
        :host ::ng-deep .p-fileupload-header {
            display: none;
        }

        :host ::ng-deep .p-fileupload-file-list {
            display: none;
        }

        :host ::ng-deep .p-fileupload-content {
            height: 20rem;
        }

:host ::ng-deep .site-master-table {
    .p-datatable-thead > tr.mr-filter-row > th {
        background: #ffffff !important;
        border-color: #e5e7eb !important;
        border: none !important;
         border-right: none !important;
        border-left: none !important;
        box-shadow: none !important;
        vertical-align: middle;
    }

    .p-datatable-thead > tr > th:nth-child(5),
    .p-datatable-tbody > tr > td:nth-child(5) {
        width: 110px !important;
        min-width: 110px !important;
        max-width: 120px !important;
        text-align: center;
    }
}
