:host{
    display: block;
}

::ng-deep .purchase-order{

.p-datatable-wrapper{
    max-height: 500px;
    overflow: auto;
    border-radius: 6px;
    border: 1px solid var(--surface-border);
    border-radius: 6px;   
}
 .p-datatable-thead > tr > th:nth-child(1),
  .p-datatable-tbody > tr > td:nth-child(1) {
    position: sticky;
    left: 0;
    z-index: 100;
    min-width: 200px;
    background: var(--surface-overlay, #fff);
  }
 .p-datatable-thead > tr > th:nth-child(2),
  .p-datatable-tbody > tr > td:nth-child(2) {
    position: sticky;
    left: 200px;  
    z-index: 100;
    min-width: 150px;
    max-width: 200px;
    background: var(--surface-overlay, #fff);
  }
  .p-datatable-thead > tr > th:nth-child(3),
  .p-datatable-tbody > tr > td:nth-child(3) {
    min-width: 180px;
    max-width: 2000px;
  }
  .p-datatable-thead > tr > th:nth-child(4),
  .p-datatable-tbody > tr > td:nth-child(4) {
    min-width: 100px;
    max-width: 110px;
  }
}
/* Force paginator rows-per-page dropdown to behave like appendTo="body" */
.p-paginator .p-dropdown-panel {
  position: fixed !important;
  z-index: 10000 !important;
}

// Lighter grey for disabled inputs
:host ::ng-deep {
    input.p-inputtext:disabled,
    input.p-inputtext[disabled],
    .p-inputnumber-input:disabled,
    .p-dropdown.p-disabled,
    p-dropdown.p-disabled .p-dropdown,
    .p-multiselect.p-disabled {
        background-color: #dae2eb !important; 
    }
}
