
        :host ::ng-deep .p-fileupload-header {
            display: none;
        }

        :host ::ng-deep .p-fileupload-file-list {
            display: none;
        }

        :host ::ng-deep .p-fileupload-content {
            height: 20rem;
        }
        .grayout {
    background-color: #eaf1f7 !important;
    color: #6c757d !important;
}