

<form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="space-y-8">
    <!-- 🧾 Transaction Info -->
    <div>
        <p class="text font-semibold mb-4 border-b pb-2 text-gray-700">Transaction Id : {{transationid}}</p>
    </div>
     <div class="grid grid-cols-2 gap-x-8 gap-y-4 w-full">
        <div class="flex flex-col">
  <label class="font-medium mb-1">Item Search</label>

  <!-- 🔽 Select Dropdown -->
  <p-select #itemSelect (onChange)="onItemCodeChange($event)"  [options]="itemOptions"  optionLabel="itemcombine" optionValue="itemsku" formControlName="itemSearch" [filter]="true" filterBy="itemcombine" [showClear]="true" placeholder="Select Item" (onFilter)="onItemSearch($event)">
    <ng-template #selectedItem let-item>
        <div class="flex items-center gap-2">
          
            <div>{{ item.itemcombine }}</div>
        </div>
    </ng-template>
    <ng-template let-details #item>
        <div class="flex items-center gap-2">
           
            <div>{{ details.itemcombine}}</div>
        </div>
    </ng-template>
  

    <!-- <ng-template #footer>
        <div class="p-3 p-button-primary p-button-sm" (click)="$event.stopPropagation()">
            <button pButton type="button" label="Add New Item" fluid severity="primary" text size="small" icon="pi pi-plus" (click)="addNewItem(itemSelect)"></button>
        </div>
    </ng-template> -->
  </p-select>
</div>

<div class="flex justify-start gap-3">
     <button pButton type="button" label="Reset" class="p-button-secondary mt-6" [class.disabled]="resetDisabled" (click)="Reset()"></button>
       <button pButton type="button" label="Copy" class="p-button-primary mt-6" [class.disabled]="resetDisabled" (click)="copy($event)"></button>
</div>
     </div>

    <!-- 🧩 Product Details -->
    <div>
        <div class="flex gap-5 items-center">
 <h3 class="text-lg font-semibold mb-3 text-gray-700 border-b pb-2">Product Details</h3>
  <div class="mb-5" *ngIf="showCopyMessage">
    <p-message  severity="error" variant="simple">Enter a unique Item code to proceed with item creation</p-message>
</div>
       </div>
   <!-- Item Code -->
        <div class="grid grid-cols-2 gap-x-8 gap-y-4 w-full">
              <!-- <div class="flex flex-col">
                <label class="font-medium mb-1">Item Detail <span class="text-red-500">*</span></label>
                <p-dropdown  (onChange)="onItemCodeChange($event)" [options]="itemOptions" optionLabel="itemcombine" optionValue="itemsku" [filter]="true" filterPlaceholder="Search Item code" placeholder="Item Code"> </p-dropdown>
            
            </div> -->
             <div class="flex flex-col">
                <label class="font-medium mb-1">Item Code <span class="text-red-500">*</span></label>
                <input pInputText formControlName="itemCode" placeholder="Item Code" [readOnly]="mode==='edit'" />
                <small class="text-red-500 ms-3 mt-1" *ngIf="addForm.get('itemCode')?.touched">
                    <span *ngIf="addForm.get('itemCode')?.errors?.['required']">Item Code is required</span>
                </small>
            </div>


            <!-- <div class="flex flex-col">
                
                {{itemOptions|json}}
                <label class="font-medium mb-1">Item Code <span class="text-red-500">*</span></label>
                <p-autoComplete fluid field="fieldname"  [suggestions]="itemOptions" (completeMethod)="filterItemCode($event)" [forceSelection]="true" formControlName="itemCode" placeholder="Item Code"> </p-autoComplete>
                <small class="text-red-500 ms-3 mt-1" *ngIf="addForm.get('itemCode')?.touched">
                    <span *ngIf="addForm.get('itemCode')?.errors?.['required']">Item Code is required</span>
                </small>
            </div> -->

            

            <!-- Current Stock -->
            <div class="flex flex-col">
                <label class="font-medium mb-1">Current Stock</label>
                <input pInputText formControlName="curStock" placeholder="Current Stock" readonly class="grayout"/>
            </div>

            <!-- Item Name -->
            <div class="flex flex-col">
                <label class="font-medium mb-1">Item Name <span class="text-red-500">*</span></label>
                <input pInputText formControlName="itemName" placeholder="Item Name" />
                <small class="text-red-500 ms-3 mt-1" *ngIf="addForm.get('itemName')?.touched">
                    <span *ngIf="addForm.get('itemName')?.errors?.['required']">Item Name is required</span>
                </small>
            </div>

            <!-- Category -->
            <div class="flex flex-col">
                <label class="font-medium mb-1">Category <span class="text-red-500">*</span></label>
                <p-dropdown [options]="categoryOptions" optionLabel="fieldname" optionValue="fieldid" [filter]="true" filterPlaceholder="Search Category" formControlName="category" placeholder="Category"> </p-dropdown>
                <small class="text-red-500 ms-3 mt-1" *ngIf="addForm.get('category')?.touched">
                    <span *ngIf="addForm.get('category')?.errors?.['required']">Category is required</span>
                </small>
            </div>

             <!-- Parent UOM -->
            <div class="flex flex-col">
                <label class="font-medium mb-1">Parent UOM <span class="text-red-500">*</span></label>
                <p-dropdown [options]="uomOptions" optionLabel="fieldname" optionValue="fieldid" [filter]="true"  (onChange)="onItemParentUM($event)" filterPlaceholder="Search Parent UOM" formControlName="parentUOM" placeholder="Parent UOM" [readonly]="mode==='edit'"> </p-dropdown>
                <small class="text-red-500 ms-3 mt-1" *ngIf="addForm.get('parentUOM')?.touched">
                    <span *ngIf="addForm.get('parentUOM')?.errors?.['required']">Parent UOM is required</span>
                </small>
            </div>

            <!-- Minimum Stock -->
            <div class="flex flex-col">
                <label class="font-medium mb-1">Min Stock</label>
                <input pInputText formControlName="minStock"  placeholder="Min Stock" (keypress)="allowOnlyNumbers($event)" />
            </div>
<!-- Purchase Price -->
            <div class="flex flex-col">
                <label class="font-medium mb-1">Purchase Price <span class="text-red-500">*</span></label>
                <input pInputText type="number" min="1" formControlName="purchasePrice" placeholder="Purchase Price"  (keydown)="blockMinus($event)"/>
                <small class="text-red-500 ms-3 mt-1" *ngIf="addForm.get('purchasePrice')?.touched && addForm.get('purchasePrice')?.invalid">
                    <span *ngIf="addForm.get('purchasePrice')?.errors?.['required']">Purchase Price is required</span>
                    <span *ngIf="addForm.get('purchasePrice')?.errors?.['min']">Purchase Price must be greater than 0</span>
                </small>
            </div>

           
            <!-- Warranty Period -->
            <div class="flex flex-col">
                <label class="font-medium mb-1">Warranty Period (in months)</label>
                          <!-- <p-datepicker  fluid formControlName="warPeriod" placeholder="Warranty Period" [showIcon]="true" placeholder="Invoice Date"></p-datepicker> -->
                <input pInputText formControlName="warPeriod" placeholder="Warranty Period" (keypress)="allowOnlyNumbers($event)" />
            </div>

             <!-- Quantity -->
            <div class="flex flex-col">
                <label class="font-medium mb-1">Quantity <span class="text-red-500">*</span></label>
                <input pInputText type="number" min="1" formControlName="qty" placeholder="Quantity" (keydown)="blockMinus($event)" />
                <small class="text-red-500 ms-3 mt-1" *ngIf="addForm.get('qty')?.touched && addForm.get('qty')?.invalid">
                    <span *ngIf="addForm.get('qty')?.errors?.['required']">Quantity is required</span>
                    <span *ngIf="addForm.get('qty')?.errors?.['min']">Quantity must be greater than 0</span>
                </small>
            </div>
            <!-- Expiry Date -->
            <div class="flex flex-col">
                <label class="font-medium mb-1">Expiry Date</label>
                          <p-datepicker  fluid formControlName="p_expirydate" dateFormat="dd-mm-yy" [minDate]="dateTime" placeholder="Warranty Period" [showIcon]="true" placeholder="Expiry Date"></p-datepicker>
                <!-- <input pInputText formControlName="warPeriod" placeholder="Warranty Period" (keypress)="allowOnlyNumbers($event)" /> -->
            </div>

             <!-- Cost/Item -->
            <div class="flex flex-col">
                <label class="font-medium mb-1">Cost/Item</label>
               
                <input pInputText formControlName="costPerItem" placeholder="Cost/Item" [disabled]="false" readonly  class="grayout"/>
            </div>

            <!-- Location -->
            <div class="flex flex-col">
                <label class="font-medium mb-1">Location</label>
                <input pInputText formControlName="location" placeholder="Location" />
            </div>

             <!-- MRP -->
            <div class="flex flex-col">
                <label class="font-medium mb-1">MRP <span class="text-red-500">*</span></label>
                <input pInputText type="number" min="1" formControlName="mrp" placeholder="MRP" (keydown)="blockMinus($event)"/>
                <small class="text-red-500 ms-3 mt-1" *ngIf="addForm.get('mrp')?.touched || addForm.hasError('mrpGreaterThanPurchase')">
                    <span *ngIf="addForm.get('mrp')?.errors?.['required']">MRP is required</span>
                    <span *ngIf="addForm.hasError('mrpGreaterThanPurchase')">MRP must be greater than or equal to Purchase Price</span>
                </small>
            </div>

             <!-- Discount -->
            <div class="flex flex-col">
                <label class="font-medium mb-1">Discount (%)</label>
               <input pInputText formControlName="discount" placeholder="discount" readonly  class="grayout"/>
                <small class="text-red-500 ms-3 mt-1" *ngIf="addForm.get('discount')?.touched && addForm.get('discount')?.invalid"> </small>
            </div>

           
              <div class="flex gap-6">
                <!-- Active -->
                    <!-- ACTIVE Item -->
            <div class="flex flex-col">
                <label class="font-medium mb-1">Active Item</label>
                <p-checkbox formControlName="activeItem" [binary]="true"></p-checkbox>
            </div>
            <!-- GST Item -->
            <div class="flex flex-col">
                <label class="font-medium mb-1">GST Item</label>
                <p-checkbox formControlName="gstItem" [binary]="true"></p-checkbox>
            </div>
            </div>
        </div>
    </div>

    <!-- 🧮 Child UOM Table -->
    <div class="flex flex-col mt-6">
        <h3 class="text-lg font-semibold mb-3 text-gray-700 border-b pb-2">Child UOM Details</h3>
        <small class=" text-red-500">Child UOM cannot be the same as Parent UOM.</small>
        <div class="flex gap-4 items-start">
            <div class="flex-1">
                <p-table [value]="products" class="w-full">
                    <ng-template #header>
                        <tr [class.disabled]="uomTableDisabled" class="bg-yellow-400">
                            <th>Child UOM</th>
                            <th>Conversion</th>
                            <th>MRP</th>
                            <th>Remove UOM</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-product>
<tr [class.disabled]="uomTableDisabled">
  <td>
    <p-dropdown
    [options]="this.ChilduomOptions"
     
      optionLabel="fieldname" optionValue="fieldid"
      [filter]="true"
      filterPlaceholder="Search Child UOM"
      [(ngModel)]="product.childUOM"
      [ngModelOptions]="{standalone: true}"
      (ngModelChange)="isChildUOMValid()"
      placeholder="Select Child UOM"
      appendTo="body">
    </p-dropdown>
  </td>

  <td>
    <input pInputText
      type="number" min="1"
      [(ngModel)]="product.conversion"
      [ngModelOptions]="{standalone: true}"
      (ngModelChange)="isChildUOMValid()"
      placeholder="Conversion"
      (keypress)="allowOnlyNumbers($event)" />
  </td>

  <td>
    <input pInputText
      type="number" min="1"
      [(ngModel)]="product.mrpUom"
      [ngModelOptions]="{standalone: true}"
      (ngModelChange)="isChildUOMValid()"
      placeholder="MRP"
      class="min-[]"
      (keypress)="allowOnlyNumbers($event)" />
      <br>
      <small class="text-red-500" *ngIf="product.mrpError">
  MRP/conversion must be greater than {{ (addForm.get('mrp')?.value / product.conversion) | number:'1.2-2' }}
</small>
  </td>

  <td>
    <i class="pi pi-minus-circle cursor-pointer text-yellow-500" (click)="removeRow()"></i>
  </td>
</tr>
</ng-template>

                </p-table>
            </div>

            <div class="flex flex-col gap-3">
                <button pButton type="button" label="Add UOM" [class.disabled]="uomTableDisabled" class="p-button-warning" (click)="addRow()"></button>
            </div>
        </div>
    </div>

    <!-- 🔘 Form Buttons -->
    <div class="flex justify-end items-center mt-8 border-t pt-4">
        <div class="flex gap-4">
          
                  <button pButton type="button" label="Cancel"  class="p-button-secondary" (click)="onCancel()"></button>
     
           
            <button pButton type="submit" label="Submit" class="p-button-warning" [disabled]="addForm.invalid || !isChildUOMValid()"></button>

        </div>
    </div>
</form>
